registry=https://pkgs.dev.azure.com/xpinvestimentos/_packaging/PackagesXP/npm/registry/

always-auth=true

registry=https://pkgs.dev.azure.com/xpinvestimentos/_packaging/PackagesXP/npm/registry/

always-auth=true

//xpinvestimentos.pkgs.visualstudio.com/_packaging/PackagesXP/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwOTcxNGM4ZC05YjUzLTY0NzMtOTVhNy02M2Y2ODIwZDUwMDUiLCJzY3AiOiJ2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2NiMWZlMWMtZWU2YS00Y2ExLThkMmMtOWVhZjQ2ZjRiNjMwIiwiYXBwaWQiOiJkZTUxNmQ5MC1iNjNlLTQ5OTQtYmE2NC04ODFlYTk4OGE5ZDIiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTY0ODY1ODM4MywiZXhwIjoxNjQ4NjYxOTgzfQ.fht0DQeDBF__rCZN0NkKEVRe-Dxtyzwf_N5A5cHfG3EHfPl-kfCVKEfY8kBFtxqkP2JJrA_vn-fK1TCAm8LCVGHdOirgCU0l7RXeXdf-xaCtn-otzZKwIzKgBXxHWWPpQ85fE6EIsQQJkrc-hRUklwy9lBRofQXBsc2cwhMs4RwEIf4p-_pgKg4UtkIgyy9VV49C4YBj32MtWT4cuxLPFyi3vbOCESkEFpQ78vBLGT1qifQQ2mF1cJJuUQR4bIwnDuqpiVSTiGNCm_krv9n_dB0Dos5Dvx2tDnA1U7tJFRvlAj43jjO_is4TUSfidHsqyLmtiJDMoH9tko2La4DqFA
//xpinvestimentos.pkgs.visualstudio.com/_packaging/PackagesXP/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwOTcxNGM4ZC05YjUzLTY0NzMtOTVhNy02M2Y2ODIwZDUwMDUiLCJzY3AiOiJ2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2NiMWZlMWMtZWU2YS00Y2ExLThkMmMtOWVhZjQ2ZjRiNjMwIiwiYXBwaWQiOiJkZTUxNmQ5MC1iNjNlLTQ5OTQtYmE2NC04ODFlYTk4OGE5ZDIiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTY0ODY1ODM4MywiZXhwIjoxNjQ4NjYxOTgzfQ.fht0DQeDBF__rCZN0NkKEVRe-Dxtyzwf_N5A5cHfG3EHfPl-kfCVKEfY8kBFtxqkP2JJrA_vn-fK1TCAm8LCVGHdOirgCU0l7RXeXdf-xaCtn-otzZKwIzKgBXxHWWPpQ85fE6EIsQQJkrc-hRUklwy9lBRofQXBsc2cwhMs4RwEIf4p-_pgKg4UtkIgyy9VV49C4YBj32MtWT4cuxLPFyi3vbOCESkEFpQ78vBLGT1qifQQ2mF1cJJuUQR4bIwnDuqpiVSTiGNCm_krv9n_dB0Dos5Dvx2tDnA1U7tJFRvlAj43jjO_is4TUSfidHsqyLmtiJDMoH9tko2La4DqFA
//pkgs.dev.azure.com/xpinvestimentos/_packaging/PackagesXP/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiIwOTcxNGM4ZC05YjUzLTY0NzMtOTVhNy02M2Y2ODIwZDUwMDUiLCJzY3AiOiJ2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiM2NiMWZlMWMtZWU2YS00Y2ExLThkMmMtOWVhZjQ2ZjRiNjMwIiwiYXBwaWQiOiJkZTUxNmQ5MC1iNjNlLTQ5OTQtYmE2NC04ODFlYTk4OGE5ZDIiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTY0ODY1ODM4MywiZXhwIjoxNjQ4NjYxOTgzfQ.fht0DQeDBF__rCZN0NkKEVRe-Dxtyzwf_N5A5cHfG3EHfPl-kfCVKEfY8kBFtxqkP2JJrA_vn-fK1TCAm8LCVGHdOirgCU0l7RXeXdf-xaCtn-otzZKwIzKgBXxHWWPpQ85fE6EIsQQJkrc-hRUklwy9lBRofQXBsc2cwhMs4RwEIf4p-_pgKg4UtkIgyy9VV49C4YBj32MtWT4cuxLPFyi3vbOCESkEFpQ78vBLGT1qifQQ2mF1cJJuUQR4bIwnDuqpiVSTiGNCm_krv9n_dB0Dos5Dvx2tDnA1U7tJFRvlAj43jjO_is4TUSfidHsqyLmtiJDMoH9tko2La4DqFA
//pkgs.dev.azure.com/xpinvestimentos/_packaging/PackagesXP/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/xpinvestimentos/_packaging/PackagesXP/npm/registry/:_password=N2tsZmZuMnFwb280MnE2aHFzNG1jNmR4eWt6aHNneXFteW1xejQ2bHplc3VraDc1Z3Z2cQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/xpinvestimentos/_packaging/PackagesXP/npm/registry/:email=not-used@example.com
